<header class="header">
  <div class="header__block">
    <img routerLink="/product" class="header__logo" src="../../../../assets/Log.png" alt="Lgo" height="41" width="116"/>
    <div class="header__search">
      <a href="#"><img src="../../../../assets/fa-search.png" height="11" width="11"/></a>
      <input class="search__input" type="search" name="search" placeholder="Try find something">
    </div>
  </div>
  <div class="header__user-block">
    <div class="user-block__wrap" *ngIf="currentUser; else notAuth">
      <div class="user-block__avatar" routerLink="/new">
        <img src="{{currentUser.avatar}}" height="44" width="44"/>
      </div>
      <div class="user-block__name">{{currentUser.username}}</div>
    </div>
    <div>
      <a routerLink="/user" href=""><i class="fa fa-user" aria-hidden="true"></i></a>
      <a (click)="logout()" routerLink="/login" href=""><img src="../../../../assets/fa-sign-out.png" height="22" width="27"/></a>
    </div>
    <ng-template #notAuth>
      <p class="userMenu--notAuth">
        Welcome,
        <a href="" routerLink="/login">login</a>
        or
        <a href="" routerLink="/login">register</a>
        for start
      </p>
    </ng-template>
  </div>
</header>
