<header class="header">
  <div class="header__block">
    <img class="header__logo" src="../../assets/Log.png" alt="Lgo" />
    <div class="header__search">
      <a href="#"><img src="../../assets/fa-search.png" height="11" width="11"/></a>
      <input class="search__input" type="search" name="search" placeholder="Try find somethink">
    </div>
  </div>
  <div class="header__authorization">
    <div class="authorization__welcome">
      Welcome, <span>login</span> or <span>register</span> for start!
    </div>
    <img src="../../assets/Logo_white.png" alt="logo">
    <div class="authorization__form" >
      <div class="form__block-button">
        <input type="button" value="Sign In" name="sign in" (click)="isGuest = false">
        <input type="button" value="Sign Up" name="sign up" (click)="isGuest = true">
      </div>
      <app-sign-in *ngIf="!isGuest"></app-sign-in>
      <app-sign-up #isGuest *ngIf="isGuest"></app-sign-up>
    </div>
  </div>
</header>

<app-footer></app-footer>
