<form class="form__block-login" action="#" [formGroup]="signUpForm" (submit)="submit()">
  <input type="email" name="email" placeholder="Email" formControlName="userEmail">
  <input type="password" name="password" placeholder="Password" formControlName="userPassword">
  <input type="password" name="password" placeholder="Confirm Password" formControlName="confirmPassword">
  <input type="submit" value="Login" name="login">
</form>
<pre>{{signUpForm.value | json}}</pre>
<pre>{{signUpForm.status | json}}</pre>
<pre>{{signUpForm.get('confirmPassword')}}</pre>
